///////////////////////////////////////
// css theme variables / settings


$font-family:       "Helvetica Neue", Helvetica, Arial, sans-serif;

$code-font-family:  Menlo, Monaco, "Courier New", monospace;


$masthead-color:         #32CD32;
$masthead-small-color:   #C0C0C0;

$post-title-color:       #FF00FF;
$post-date-color:        #9400D3;


$body-color:            #515151;
$body-background-color: #fff;

$link-color:            #00FF7F;

$headings-color:       #303030;    // h1,h2,h3,h4,h5,h6

$strong-color:          #303030;    // strong

$pre-background-color:  #E0FFFF;    // pre

$blockquote-color:      #00FF00;   // blockquote
$blockquote-border-color: #e5e5e5;

$table-border-color:         #303030;
$table-odd-background-color: #F0FFF0;


